<!-- System tab Directive Template -->
<div>
    <div layout="row" layout-wrap class="md-whiteframe-z3">
        <md-input-container flex="33" style="padding-left:10px;padding-right:10px">
            <label>Search </label>
            <input ng-model="system.query">
        </md-input-container>
        <div flex="33">
            <md-select placeholder="Exchanges" ng-model="system.current_exchange_index" ng-change="getExchangeStocks(false)" style="width: 100px;">
                <md-optgroup label="Exchanges">
                    <md-option ng-repeat="exchange in system.exchanges" ng-value="exchange.exchange_id" ng-bind="exchange.short_name">
                    </md-option>
                </md-optgroup>
            </md-select>
        </div>
        <div flex="33" style="padding-top:20px">
            <div layout="row" layout-align="center end">
                <md-button class="md-raised md-primary" ng-click="getExchangeStocks(true)">Refresh
                    <md-tooltip>
                        Refresh all stocks data.
                    </md-tooltip>
                </md-button>
                <md-button class="md-raised md-primary" ng-click="updateAll('stocks',system.current_exchange_index)">Update all stocks
                    <md-tooltip>
                        Update all stocks in current exchange.
                    </md-tooltip>
                </md-button>
                <md-button class="md-raised md-primary" ng-click="updateAll('watchlists',system.current_exchange_index)">Update all watchlists
                    <md-tooltip>
                        Update all watchlists in current exchange.
                    </md-tooltip>
                </md-button>
            </div>
        </div>
    </div>
    <div>
        <div flex-md="66" flex-gt-md="100" style="padding-top:20px">
            <table class="stl-data-table stl-js-data-table" style="width: 100%;">
                <thead style="background-color:#009de0">
                    <tr>
                        <th class="stl-data-table__cell--non-numeric" ng-repeat="header in system.systemTabConfig.table.headers">
                            <!--  <md-button ng-click="sort(header.fieldName)">{{header.label}}</md-button> -->
                            <a href="" ng-click="sort(header.fieldName)" class="link-btn">{{header.label}}</a>
                        </th>
                        <th class="stl-data-table__cell--non-numeric">
                            <a href="" class="link-btn">Actions</a>
                        </th>
                    </tr>
                </thead>
                <tbody style="background-color: #f6f6f6;">
                    <tr ng-repeat="data in system.systemTabConfig.table.data | orderBy: predicate : reverse | filter : system.query as results">
                        <td ng-repeat="cell in system.systemTabConfig.table.headers" class="stl-data-table__cell--non-numeric">
                            {{data[cell.fieldName]}}
                        </td>
                        <td class="stl-data-table__cell--non-numeric">
                            <md-button class="md-icon-button" aria-label="Settings" ng-click="updateStockConfirm($event,data)">
                                <md-icon class="icon-default">settings_backup_restore</md-icon>
                                <md-tooltip>
                                    Update Stock
                                </md-tooltip>
                            </md-button>
                        </td>
                    </tr>
                    <tr ng-if="results.length == 0">
                        <td><strong>No results found.<strong><td></tr>
            </tbody>
        </tbody>
    </table>
    </div>
</div>
